<div class="row">

  <div class="col-6" id="login">
    <h4>
      Already a seasoned forker? Jump into your dishboard.
    </h4>
    <form class="login-form">
      <input class="username" type="text" placeholder="Username" />
      <br />
      <input class="password" type="password" placeholder="Password" />
      <br />
      <button class="login-btn">Dishboard</button>
    </form>
  </div>

  <div class="col-5" id="signup">
    <h4>
      First time getting forked? Let's get you signed up to be a full-time
      forker!
    </h4>
    <form class="signup-form">
      <input class="user" type="text" placeholder="Username" />
      <br />
      <input class="pw" type="password" placeholder="Password" />
      <br />
      <button class="signup-btn">Fork Yea!</button>
    </form>
  </div>

</div>
<script src="/js/login.js"></script>